body {
	margin: 0px;
	background-color: lightgrey;
	}

body{
   height:100vh;
}

header {
	background-color: white;
	color: CornflowerBlue;
	height: 85px;
	position: fixed;
	width: 100%;
	z-index: 3;
}

main {
	padding-top: 25px;
	position: absolute;
	width: 100%;
	top: 195px;
}

h1 	{
	margin: 0px;
	padding-left: 1.65%;
	line-height: 85px;
	font-size: 42px;
}

h3	{
	font-size: 30px;
}

button {
	padding: 10px;
}

input[type="radio"]{
	cursor: pointer;
	accent-color: CornflowerBlue;
}

button, #addBookToLibraryButton {
	cursor: pointer;
	border: 0px;
	border-radius: 25%;
}

.newBookButtonWrapper {
	height: 100px;
	position: fixed;
	width: 100%;
	top: 85px;
	z-index: 3;
	background-color: lightgrey;
	border-bottom: 1px solid black;
}

#newBookButton {
	padding: 20px 24px;
	font-size: 20px;
	border: 3px solid transparent;
	margin: 15px auto;
	display: block;
	background-color: CornflowerBlue;
}

#newBookButton:hover {
	border: 3px solid white;
	color: white;
}

#addBookToLibraryButton{
	background-color: CornflowerBlue;
	padding: 5px 15px;
}

#addBookToLibraryButton:hover{
	transform: scale(1.1);
}


.book_card {
	width: 30%;
	margin: 1.65%;
	display: inline-block;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	line-height: 1.2;
	overflow: hidden;
	position: relative;
}

.book_card p {
	text-align: center;
	font-size: 30px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book_card p:first-child {
	font-size: 40px;
}

.removebtn, .thisBookHasNotYetBeenRead, .thisBookHasBeenRead {
	/*display: block;*/
}

.thisBookHasNotYetBeenRead, .thisBookHasBeenRead {
	width: 100px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.thisBookHasNotYetBeenRead:hover, .thisBookHasBeenRead:hover {
	color: white;
	transform: scale(1.1);
}

.thisBookHasBeenRead {
	background-color: lightgreen;
}

.thisBookHasNotYetBeenRead {
	background-color: IndianRed;
}

.removebtn {
	cursor: pointer;
	position: absolute;
	bottom: 18px;
	left: 15px;
	transform: scale(1.3);
}

.removebtn:hover {
	transform: scale(2.0);
}


#formWrapper {
	display: none;
  	top:        0; 
  	left:       0; 
  	position:   fixed; 
  	width: 100%;
  	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 7;
}

.createNewBookForm {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
	background-color: white;
	padding: 0 25px 10px;

	font-size: 26px;
	width: 30%;
	min-width: 360px;
	margin: 1.65%;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	line-height: 1.2;
	text-align: center;
}

.createNewBookForm input {
	margin-bottom: 10px;
	font-size: 26px;
	display: inline-block;
}

#addBookToLibraryButton {
	display: block;
	margin: 10px auto;
}

.fa-times {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 10px;
	cursor: pointer;
}



@keyframes fading {
    0% { 	opacity: 1; 
    		width: 30%;
    		height: 306px;
    		margin: 1.65%;
    }

    50% { 	opacity: 0; 
    		width: 30%;
    		height: 306px;
    		margin: 1.65%;
    }

    100% { 	opacity: 0; 
    		width: 0%;
    		height: 306px;
    		margin: 0px;
    }
}

@keyframes appearing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*setting up viewports*/
@media screen and (max-width: 600px){
	.book_card {
		width: 90%;
		margin-left: 5%;
	}

}

@media screen and (min-width: 600px) and (max-width: 900px) {
	.book_card {
		width: 40%;
		margin: 2% 5%;
	}



}